<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap Core CSS -->
    <link href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"  rel="stylesheet">
    <title>财务</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation"
     th:replace="fragments/header:: ${role}">

</nav>


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="page-header">
                <h3>财务</h3>
                <p th:text="'总计：￥'+${totalPrice}"></p>
            </div>
            <ul class="list-group">
                <li class="list-group-item" th:each="translog:${translogs}">
                    <h4 class="list-group-item-heading" th:text="${translog.item.title}">..</h4>
                    <img src="#" th:src="${translog.item.src}"
                         class="img-circle" style="max-height: 100px">
                    <p class="text-left" th:text="${translog.timestamp}"></p>
                    <label th:text="'价格：'+${translog.price}"></label>
                    <label th:text="'数量：'+${translog.number}"></label>
                </li>
            </ul>
        </div>
    </div>


</div>



<!-- jQuery -->
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(function () {
         $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var value = $(this).attr('data-value') ;
            $("#imgtype").val(value) ;
            console.log(value);
        });
    });


</script>
</body>
</html>